@media screen and (max-width: 440px) {
    header {
        font-size: 1.1em;
    }

    .deck {
        width: 320px;
        min-height: 360px;
        padding: 16px;
        border-radius: 10px;
        margin: 0 0 3em;
    }

    .score-panel {
        position: relative;
        top: 20px;
    }

    .deck .card {
        height: 60px;
        width: 60px;
    }

    .restart {
        position: relative;
        font-size: 2em;
        margin-right: 0.5em;
        top: -20px;
    }

    .timer {
        margin-left: 1.2em;
    }

    .modal {
        width: 340px;
        height: 210px;
    }
} 

@media screen and (min-width: 441px) and (max-width: 800px) {
    header {
        font-size: 1.3em;
    }

    .deck {
        width: 440px;
        min-height: 480px;
        padding: 16px;
        border-radius: 10px;
        margin: 0 0 3em;
    }

    .score-panel {
        position: relative;
        top: 30px;
    }

    .deck .card {
        height: 85px;
        width: 85px;
    }

    .restart {
        position: relative;
        font-size: 2em;
        margin-right: 0.5em;
        top: -20px;
    }

    .timer {
        margin-left: 1.5em;
    }

    .modal {
        width: 600px;
        height: 250px;
    }
}    